---
- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Deploy simple index page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Ensure Nginx is started and enabled
  service:
    name: nginx
    state: started
    enabled: yes
